.hero {
  background-image: linear-gradient(
      rgba(138, 2, 108, 0.7),
      rgb(250, 222, 9, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/manhatten.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 40px 20px;
}

header {
  z-index: 1000;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

p {
  color: white;
}
