/*My font styles*/

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #211d39;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Plattsburgh-monument-city-hall_Credit-Bruce-Carlin-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
}

header {
  z-index: 1000;
}

h1,
h3 {
  color: white;
  margin-top: 60px;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  color: white;
}

@media (max-width: 960px) {
  h1,
  h3 {
    margin-top: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  h4 {
    margin-top: 10px;
  }
  .hero {
    margin: 0;
    padding: 20px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  background-color: #8e1970;
  opacity: 0.7;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  transition: all 90ms ease-in-out;
  z-index: 1000;
}

.button:hover {
  background: linear-gradient(
    to left,
    rgba(138, 2, 108, 1),
    rgba(138, 2, 108, 1)
  );
  color: rgb(251, 229, 238);
  opacity: 0.9;
}

footer {
  color: white;
  z-index: 1000;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Eagle_Monument-1782782929-612x612.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  z-index: 1000;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 13px;
  line-height: 1.2;
  text-align: justify;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: white;
  text-decoration: underline;
  font-size: 12px;
}

.about-me-link {
  display: none;
}

@media (max-width: 500px) {
  footer p {
    font-size: 12px;
    text-align: center;
  }

  .about-me-section {
    display: none;
  }

  .footer-content {
    display: contents;
    align-items: center;
    justify-content: space-between;
  }

  .about-me-link {
    display: block;
    padding: 10px;
    border-radius: 6px;
    max-width: fit-content;
    background-color: white;
    color: #211d39;
    margin: 0 auto;
  }
}

.my-city {
  color: white;
}

.my-city-container {
  padding: 20px;
  background-image: url("images/koffee-kat.jpg");
  border-radius: 8px;
  margin: 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.my-city-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

img {
  display: block;
  max-width: 50%;
  height: auto;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.koffee-kat {
  display: block;
  text-align: center;
  padding: 3px;
}
